/* custom properties/variables */

:root {
    --primary-color: #112957;
    --secondary-color: #A8AABC;
    --addition-color: #EE796A;
    --text-color: #F1F1E6;
}

/* common styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
    font-weight: 700;
    font-style: normal;
}

h1 {
    width: 55rem;
    color: var(--addition-color);
    font-size: 4.5rem;
    font-weight: 700;
    font-style: normal;
}

h2 {
    color: var(--addition-color);
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
}

p {
    font-size: 3rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:focus,
a:hover {
    color: #A8AABC;
}

a:active {
    color: #EE796A;
}

img {
    display: block;
    /*width: 100%;*/
}

.wrapper {
    max-width: 1220px;
    width: 100%;
    margin: auto;
}

/* header styles */

.header {
    padding: 42px 0px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 0 #747687;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.navigation-link>li>a {
    color: var(--addition-color);
    font-size: 3rem;
}

.navigation-link>li:nth-child(2) {
    margin-left: 9rem;
    margin-right: 9rem;
}