/* custom properties/variables */

:root {
    --primary-color: #112957;
    --secondary-color: #A8AABC;
    --addition-color: #EE796A;
    --text-color: #F1F1E6;
    --link-color: #FFB55E;
}

/* common styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
    font-weight: 700;
    font-style: normal;
}

h1 {
    margin: 0 auto;
    width: 55rem;
    color: var(--addition-color);
    font-size: 4.5rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

h2 {
    /*margin: 0 auto;*/
    color: var(--addition-color);
    font-size: 4.2rem;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 50px;
    text-align: center;
}

p {
    font-size: 3rem;
    text-indent: 25px;
    text-align: justify;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: #112957;
}

a:active,
a:focus {
    color: #FFB55E;
}

img {
    display: block;
    /*width: 100%;*/
}

.wrapper {
    width: 100%;
    margin: auto;
}

.section {
    max-width: 1220px;
}

/* header styles */

.header {
    padding: 42px 0;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 0 #747687;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.navigation-link>li>a {
    color: var(--addition-color);
    font-size: 3rem;
}

.navigation-link>li>a:hover {
    color: var(--primary-color);
}

.navigation-link>li>a:focus,
.navigation-link>li>a:active {
    color: var(--link-color);
}

.navigation-link>li:nth-child(2) {
    margin-left: 9rem;
    margin-right: 9rem;
}

/* welcome section styles */

.welcome {
    padding: 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 30rem;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 4px var(--secondary-color);
    margin-right: 15px;
}

.welcome-info {
    padding: 8rem 0;
    width: 50%;
    margin-left: 15px;
}

.welcome-paragraph {
    padding-top: 40px;
    font-style: italic;
}

.welcome-paragraph.colored {
    color: var(--addition-color);
    font-size: 4rem;
    padding-top: 15px;
    text-indent: inherit;
    text-align: center;
}

/* projects section styles */

.projects {
    background-color: var(--secondary-color);
    padding: 50px 60px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
}

cards::after {
    content: "";
    width: 35rem;
}

.projects-img {
    width: 100%;
    max-width: 35rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;
}